.heading {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #185075;
  font-size: 22px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-8.carousel {
  padding-right: 40px;
  padding-left: 40px;
}

.div-block-8.mobileonly {
  display: none;
}

.arrow {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-right: 0px;
  margin-left: 0px;
  color: #dbdbdb;
  font-weight: 700;
}

.arrow.left {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.slide {
  height: auto;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 200px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_LargeCanvas2.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}

.div-block-7:hover {
  background-position: 50% 0%;
  -webkit-filter: brightness(105%);
  filter: brightness(105%);
}

.div-block-7.canvas {
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_Canvas2.jpg');
  background-position: 50% 0%;
  -webkit-transition: background-position 300ms ease;
  transition: background-position 300ms ease;
}

.div-block-7.canvas:hover {
  background-position: 50% 0%;
}

.div-block-7.collage {
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_Collage2.jpg');
  background-position: 50% 0%;
  text-decoration: none;
}

.div-block-7.collage:hover {
  background-position: 50% 0%;
}

.div-block-7.collage:active {
  background-position: 50% 0%;
}

.div-block-7.mugs {
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_Mugs2.jpg');
  text-decoration: none;
}

.div-block-7.wall-displays {
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_WallDisplay2.jpg');
  text-decoration: none;
}

.div-block-7.pillows {
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_Pillows2.jpg');
  text-decoration: none;
}

.div-block-7.blankets {
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_Blankets2.jpg');
  background-position: 50% 0%;
  text-decoration: none;
}

.div-block-7.blankets:hover {
  background-position: 50% 0%;
}

.div-block-7.metal-prints {
  background-image: url('../images/ECP_ProductTile_Webflow_Desktop_Metal2.jpg');
  background-position: 50% 0%;
  background-size: cover;
  text-decoration: none;
}

.div-block-7.metal-prints:hover {
  background-position: 50% 0%;
}

.left-arrow {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.heading-2 {
  color: #185075;
  text-align: center;
}

.slider {
  height: 250px;
  background-color: #fff;
}

.html-embed {
  max-height: none;
  max-width: 100%;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-9 {
  position: relative;
  display: block;
  width: auto;
  max-width: 1100px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 5px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  border: 1px none #000;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-style: solid none none;
  border-width: 1px;
  border-color: #d5d5d5;
  border-radius: 0px 0px 4px 4px;
  background-color: hsla(0, 0%, 100%, 0.9);
  cursor: pointer;
}

.slide-nav {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  color: #000;
}

.callout {
  color: #e50085;
}

@media screen and (max-width: 991px) {
  .heading {
    margin-left: 5px;
    padding-left: 5px;
  }
  .div-block-7.collage {
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_Collage.jpg');
  }
  .heading-2 {
    color: #185075;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    margin-left: 5px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    width: 100%;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }
  .div-block-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-8.mobileonly {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .div-block-7 {
    position: static;
    max-height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_LargeCanvas.jpg');
  }
  .div-block-7.canvas {
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_Canvas.jpg');
    background-position: 50% 0%;
  }
  .div-block-7.collage {
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_Collage.jpg');
  }
  .div-block-7.mugs {
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_Mugs.jpg');
  }
  .div-block-7.wall-displays {
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_WallDisplays.jpg');
  }
  .div-block-7.pillows {
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_Pillows.jpg');
  }
  .div-block-7.blankets {
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_Blankets.jpg');
  }
  .div-block-7.metal-prints {
    max-height: 200px;
    background-image: url('../images/ECP_ProductTile_Webflow_Mobile_Metal.jpg');
    background-position: 50% 0%;
  }
  .slider {
    border-radius: 20px;
    opacity: 0;
  }
  .slider.desktoponly {
    display: none;
    opacity: 1;
  }
  .html-embed {
    padding-left: 5px;
  }
  .div-block-5 {
    width: 100%;
    min-height: 180px;
    clear: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .div-block-10 {
    width: 100%;
  }
}
.ruk-rating-snippet-count {
font-size: 12px !important;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
color: #000 !important;

z-index: 99999;
}

.w-slider-dot {background: #F0F0F0;}
.w-slider-dot.w-active {background: #D5D5D5;}

@media (min-width: 481px) and (max-width: 767px) {
.ruk-rating-snippet-count {
float: left;
} 
}

@media screen and (max-width: 479px){
.ruk-rating-snippet-count {
font-size: 9px !important;

}
}

@media screen and (max-width: 320px){
.ruk-rating-snippet-count {
float: left;
}
}
